@page "/"
@using System.Text.RegularExpressions
@using Newtonsoft.Json.Linq
@using AlbumRanking.Shared
@inject HttpClient Client
@inject IJSRuntime JsRuntime

<PageTitle>Album ranking</PageTitle>

<div class="p-2">
    <InputSelect @bind-Value="SelectedPlatform" @oninput="PageReset">
        <option value="@Platform.DiscogsMaster">Discogs (master)</option>
        <option value="@Platform.DiscogsRelease">Discogs (Release)</option>
        <option value="@Platform.Spotify">Spotify</option>
    </InputSelect>
</div>

<EditForm Model="this" OnSubmit="Submit" class="p-2">
    <InputText @bind-Value="Link" TValue="string"/>
    <button type="submit" class="text-center"><PaperAirplane16 Color="#1f2328" Size="16"/></button>
</EditForm>

<div class="p-2">
    @switch (_state)
    {
        case State.First:
            <div>
                <p>Чтобы ранкнуть альбомы необходимо скопировать ссылку на что-то из этого:</p>
                <ol>
                    <li>Discogs релиз</li>
                    <li>Discogs мастер</li>
                    <li>Спотифай альбом</li>
                </ol>
                <p>А потом нажать кнопку поиска (или энтер)</p>
            </div>
            break;
        case State.NotFound:
            <p>Не могу найти альбом.</p>
            break;
        case State.Found:
            <button @onclick="ExportRanking" class="mt-2">Export</button>
            <button @onclick="CopyRankingToClipboard">Copy</button>
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
</div>
<div class="p-2">
    <SortableList Id="sortable" Items="_tracks" Context="item" OnUpdate="SortList">
        <SortableItemTemplate>
            <div class="card" style="height: 4rem;">
                <p>@item</p>
            </div>
        </SortableItemTemplate>
    </SortableList>
</div>
@code {
    const string DiscogsReleasePattern = @"release/(\d+)";
    const string DiscogsMasterPattern = @"master/(\d+)";
    const string SpotifyPattern = @"album/(.+)\?si";

    enum State
    {
        First,
        NotFound,
        Found
    }

    enum Platform
    {
        DiscogsMaster,
        DiscogsRelease,
        Spotify
    }
    private State _state = State.First;

    [SupplyParameterFromForm]
    private string? Link { get; set; }

    private Platform SelectedPlatform { get; set; }
    private string? _albumName;
    private readonly List<string> _tracks = [];
    private void PageReset(){
        _tracks.Clear();
        _state = State.First;
    }

    private async Task Submit(){
        switch (SelectedPlatform){
                case Platform.DiscogsMaster:
                case Platform.DiscogsRelease:
                    await SubmitDiscogs();
                    break;
                case Platform.Spotify:
                    await SubmitSpotify();
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
    }

    private async Task SubmitDiscogs()
    {
        if (Link == null)
        {
            _state = State.NotFound;
            return;
        }
        var linkMatch = Regex.Matches(Link, 
            SelectedPlatform == Platform.DiscogsRelease ? DiscogsReleasePattern : DiscogsMasterPattern
            );
        if (linkMatch.Count == 0)
        {
            _state = State.NotFound;
            return;
        }

        var id = linkMatch[0].Groups[1].Value;

        _tracks.Clear();
        string resString;
        try
        {
            var platform = SelectedPlatform == Platform.DiscogsMaster ? "masters" : "releases";
            resString = await Client.GetStringAsync($"https://api.discogs.com/{platform}/{id}");
        }
        catch (HttpRequestException)
        {
            _state = State.NotFound;
            return;
        }

        _state = State.Found;
        var json = JObject.Parse(resString);
        var tracks =
            from t in json["tracklist"]
            select (string)t["title"];
        _albumName = (string)json["title"]!;
        _tracks.AddRange(tracks);
    }

    private async Task SubmitSpotify()
    {
        if (Link == null)
        {
            _state = State.NotFound;
            return;
        }

        var linkMatch = Regex.Matches(Link, SpotifyPattern);
        if (linkMatch.Count == 0)
        {
            _state = State.NotFound;
            return;
        }

        var id = linkMatch[0].Groups[1].Value;
        
        _tracks.Clear();
        FullAlbum album;
        List<string> albumTracks = [];
        try
        {
            var config = SpotifyClientConfig
            .CreateDefault()
            .WithAuthenticator(new ClientCredentialsAuthenticator("1e8c530d1e7c4d2da881a0e38ead5ae3", "8bd4fefe050c4438a1c06b74ac095fc5"));

            var spotify = new SpotifyClient(config);
            album = await spotify.Albums.Get(id);
        }
        catch (APIException)    
        {
            _state = State.NotFound;
            return;
        }
    
        _state = State.Found;
        _albumName = album.Name;
        if (album.Tracks.Items == null)
        {
            _state = State.NotFound;
            return;
        }

        album.Tracks.Items.ForEach(track => albumTracks.Add(track.Name));
        _tracks.AddRange(albumTracks);
    }
    private void SortList((int oldIndex, int newIndex) indices)
    {
        // deconstruct the tuple
        var (oldIndex, newIndex) = indices;

        var itemToMove = _tracks[oldIndex];
        _tracks.RemoveAt(oldIndex);

        if (newIndex < _tracks.Count)
        {
            _tracks.Insert(newIndex, itemToMove);
        }
        else
        {
            _tracks.Add(itemToMove);
        }

        StateHasChanged();
    }

    private string GetRankingText()
    {

        var tracks = _tracks.Select((t, i) => $"{i + 1}. {t}");
        var contents = string.Join("\n", tracks);
        return $"{_albumName}: \n\n" + contents;
    }

    private async Task ExportRanking()
    {
        await JsRuntime.InvokeVoidAsync("saveAsFile", $"{_albumName}.txt", GetRankingText());
    }

    private async Task CopyRankingToClipboard()
    {
        await JsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", GetRankingText());
    }

}